.loginButton {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.1rem;
  color: #b01616;
  cursor: pointer;
  padding: 0.5rem;
  text-decoration: none;

  &:hover {
    color: #991b1b;
  }
}
